@import "sdk/styles/global.scss";

.login {
  &__social {
    width: 19rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  }

  &__cart_text span{
    font-size: 14px;
  }
}