@import '../styles/global.scss';

.Tabs {
  & .BasicContainer {
    & > button {
      color: $black_100;
      font-weight: $Regular;
      letter-spacing: 0.1px;
      text-transform: none;
      padding: 0;
      margin: 0 1rem;
      min-width: fit-content;
    }
    & > button:hover {
      color: $primary_light;
    }
    & > button[tabindex='0'] {
      color: $primary;
    }
    & > button:disabled {
      color: $black_40;
    }
  }
  .BasicIndicator {
    border-radius: 3px 3px 0px 0px;
    height: 3px;
    background-color: $primary;
  }
}
