@import '../styles/global.scss';

.Breadcrumbs {
  font-family: $FontFamily;
  & .BreadcrumbsLi {
    &:hover a {
      color: $primary_light;
    }
    &:last-child a {
      color: $primary_dark;
    }
    & .Link {
      text-decoration: none;
      color: $black_60;
      font-weight: 300;
    }
  }
}
