@import 'sdk/styles/global.scss';

.ListHeader {
  display: flex;
  align-items: center;
  padding: 1rem;
  padding-top: 0;
  & .Subheader {
    font-weight: 300;
    color: $black_60;
  }
}
.Item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  & .Action {
    border-left: 1px solid $black_10;
    padding: 0;
    padding-left: 0.5rem;
    button {
      padding: 0;
      color: $black_40;
    }
  }

  & .ExtraHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem;
    color: $black_40;
    & .Text {
      margin-left: 0.5rem;
    }
  }
}

.Tabs {
  padding-top: 0.5rem;
  padding-right: 1rem;
  border-bottom: none !important;
}
