@import '../styles/global.scss';

.AppLayout {
  display: 'flex';
  .Appbar {
    box-shadow: none;
    color: $black_100;
    border-bottom: 1px solid #ebebf0;
    .Toolbar {
      background-color: $white;
    }
  }
}
